.pagination
	display flex
	justify-content flex-end
	align-items center

	&-first-page
		display flex
		align-items center
		justify-content center
		margin-right 0.75rem
		transform rotate(270deg)
		background-color #61DAFB
		border-radius 50%
		padding 1px
		cursor pointer
		box-shadow -1px 0 5px 0 rgba(0,0,0,0.15),
								-1px 0 5px 1px rgba(97,218,251, 0.25)
		color aliceblue

		&:hover,
		&:focus,
		&:active
			outline none
			-webkit-tap-highlight-color transparent

	&-previous-page
		display flex
		align-items center
		justify-content center
		margin-right 0.75rem
		background-color #61DAFB
		border-radius 50%
		padding 1px
		cursor pointer
		box-shadow 0 1px 5px 0 rgba(0,0,0,0.15),
								0 1px 5px 1px rgba(97,218,251, 0.25)
		color aliceblue

		&:hover,
		&:focus,
		&:active
			outline none
			-webkit-tap-highlight-color transparent


	&-next-page
		display flex
		align-items center
		justify-content center
		margin-left 0.75rem
		background-color #61DAFB
		border-radius 50%
		padding 1px
		cursor pointer
		box-shadow 0 1px 5px 0 rgba(0,0,0,0.15),
								0 1px 5px 1px rgba(97,218,251, 0.25)
		color aliceblue

		&:hover,
		&:focus,
		&:active
			outline none
			-webkit-tap-highlight-color transparent


	&-last-page
		display flex
		align-items center
		justify-content center
		margin-left 0.75rem
		transform rotate(90deg)
		background-color #61DAFB
		border-radius 50%
		padding 1px
		cursor pointer
		box-shadow 1px 0 5px 0 rgba(0,0,0,0.15),
								1px 0 5px 1px rgba(97,218,251, 0.25)
		color aliceblue

		&:hover,
		&:focus,
		&:active
			outline none
			-webkit-tap-highlight-color transparent


	&-number
		display flex
		align-items center
		justify-content center
		padding 0.45rem
		font-size 10px
		min-width 10px
		max-height 10px
		font-family 'ubuntu'
		border-radius 50%
		color rgba(140,148,155, 1)
		box-shadow 0 1px 5px 0 rgba(0,0,0,0.15),
					0 1px 5px 1px rgba(97,218,251, 0.25),
					inset 0 0.1px 0.5px 0.5px rgba(97,218,251, 0.25)
