.app
	display grid
	grid-template-areas 'content'
	grid-template-rows auto
	height 100vh
	width 100vw
	background-color #fff

	&-person
		display flex
		align-items center
		background-color #61DAFB
		position absolute
		top 1rem
		right 0
		padding-top 0.5rem
		padding-bottom 0.5rem
		padding-right 1rem
		padding-left 1rem
		cursor pointer
		color aliceblue
		border-top-left-radius 15px
		border-bottom-left-radius 15px
		font-family ubuntu
		box-shadow 0 3px 5px 0 rgba(0,0,0,0.15),
					0 2px 5px 1px rgba(97,218,251, 0.25)

		& span
			margin-left 0.5rem

	&-content
		display grid
		grid-template-areas 'header'\
												'cards'\
												'pagination'
		grid-template-rows 95px auto 30px
		position absolute
		width calc(100% - 2rem)
		padding-top 1.5rem
		padding-left 1rem
		padding-right 1rem
		top 10vh

		+breakpoint(tablet)
			grid-template-areas 'header'\
													'cards'\
													'pagination'
			grid-template-rows 35px auto 30px

		+breakpoint(laptopM)
			margin-right 16vw
			margin-left 16vw
			width calc(100% - 32vw)

		&-header
			grid-area header
			display grid
			grid-template-areas 'search'\
											  	'pagination'
			grid-template-rows 35px 60px

			+breakpoint(tablet)
				grid-template-areas 'search pagination'
				grid-template-columns 1fr 1fr

			&-search
				display grid
				grid-template-areas 'icon input'
				grid-template-columns 32px 1fr
				align-items center
				grid-area search
				background #FFF
				width 100%
				border-radius 20px
				box-shadow 0 3px 5px 0 rgba(0,0,0,0.15),
									0 2px 5px 1px rgba(97,218,251, 0.25),
									inset 0 0.1px 0.5px 0.5px rgba(97,218,251, 0.25)
				border 1px solid aliceblue
				cursor pointer
				transition width 0.3s ease

				&:hover,
				&:focus,
				&:active
					outline none
					-webkit-tap-highlight-color transparent

				+breakpoint(tablet)
					width 40px

				&[active=true]
					width 100%

					+breakpoint(tablet)
						width 20rem

				&-input
					padding-left 0.6rem
					display none

					&[active=true]
						display block

					input
						margin 0
						border 0
						padding 0
						display inline-block
						vertical-align middle
						white-space normal
						background none
						font-size  12px
						font-family 'ubuntu'
						font-weight 600
						-webkit-box-sizing content-box
						-moz-box-sizing content-box
						box-sizing content-box
						color #616161
						width 95%
						min-width 35px
						max-width 95%
						transition width 0.25s
						white-space nowrap
						overflow hidden
						text-overflow ellipsis

						&::placeholder
							color #ababab

						&:hover,
						&:focus,
						&:active
							outline none
							-webkit-tap-highlight-color transparent

				&-icon
					grid-area icon
					display flex
					justify-self flex-end

					& svg
						transition color 300ms
						color rgba(140,148,155, 0.5)

					&[active=true]
						& svg
							color #61DAFB

			&-pagination
				grid-area pagination
				display flex
				justify-content center
				align-items center
				padding-right 0.75rem

				+breakpoint(tablet)
					justify-content flex-end

		&-card-list
			display flex
			align-content baseline
			flex-wrap wrap
			justify-content space-between

			+breakpoint(tablet)
				padding-left 0.35rem
				margin-top 1rem
				justify-content flex-start
