.app
	display grid
	grid-template-areas 'appHeader'\
											'content'
	grid-template-rows 75px auto
	height 100vh
	width 100%
	background-color #fff

	&-header
		grid-area appHeader
		display flex
		align-items center

		&-person
			display flex
			align-items center
			background-color #61DAFB
			position absolute
			right 0
			padding-top 0.3rem
			padding-bottom 0.3rem
			padding-right 1rem
			padding-left 1rem
			cursor pointer
			color aliceblue
			border-top-left-radius 15px
			border-bottom-left-radius 15px
			font-family ubuntu
			box-shadow 0 3px 5px 0 rgba(0,0,0,0.15),
						0 2px 5px 1px rgba(97,218,251, 0.25)

			& img
				max-width 36px
				background-color white
				border-radius 50%

			& span
				margin-left 0.5rem

		&-nav
			position absolute
			left 1rem

	&-content
		display grid
		grid-template-areas 'header'\
												'favorites'\
												'cards'
		grid-template-rows 95px auto auto
		position absolute
		width calc(100% - 2rem)
		padding-top 1.5rem
		padding-left 1rem
		padding-right 1rem
		top 10vh

		+breakpoint(tablet)
			grid-template-rows 35px auto auto

		+breakpoint(laptopM)
			margin-right 16vw
			margin-left 16vw
			width calc(100% - 32vw)

		&-header
			grid-area header
			display grid
			grid-template-areas 'search'\
											  	'pagination'
			grid-template-rows 35px 60px

			+breakpoint(tablet)
				grid-template-areas 'search pagination'
				grid-template-columns 1fr 1fr

			&-search
				display grid
				grid-template-areas 'icon input'
				grid-template-columns 32px 1fr
				align-items center
				grid-area search
				background #FFF
				width 100%
				border-radius 20px
				box-shadow 0 3px 5px 0 rgba(0,0,0,0.15),
									0 2px 5px 1px rgba(97,218,251, 0.25),
									inset 0 0.1px 0.5px 0.5px rgba(97,218,251, 0.25)
				border 1px solid aliceblue
				cursor pointer
				transition width 0.3s ease

				&:hover,
				&:focus,
				&:active
					outline none
					-webkit-tap-highlight-color transparent

				+breakpoint(tablet)
					width 40px

				&[active=true]
					width 100%

					+breakpoint(tablet)
						width 20rem

				&-input
					padding-left 0.6rem
					display none

					&[active=true]
						display block

					input
						margin 0
						border 0
						padding 0
						display inline-block
						vertical-align middle
						white-space normal
						background none
						font-size  12px
						font-family 'ubuntu'
						font-weight 600
						-webkit-box-sizing content-box
						-moz-box-sizing content-box
						box-sizing content-box
						color #616161
						width 95%
						min-width 35px
						max-width 95%
						transition width 0.25s
						white-space nowrap
						overflow hidden
						text-overflow ellipsis

						&::placeholder
							color #ababab

						&:hover,
						&:focus,
						&:active
							outline none
							-webkit-tap-highlight-color transparent

				&-icon
					grid-area icon
					display flex
					justify-self flex-end

					& svg
						transition color 300ms
						color rgba(140,148,155, 0.5)

					&[active=true]
						& svg
							color #61DAFB

			&-pagination
				grid-area pagination
				display flex
				justify-content center
				align-items center
				padding-right 0.75rem

				+breakpoint(tablet)
					justify-content flex-end

		&-card-list-favorites
			grid-area favorites
			display flex
			align-content baseline
			flex-wrap wrap
			justify-content center
			padding-bottom 2.5rem
			position relative
			max-height 230px
			overflow hidden

			&[hasfavorite=false]
				padding-bottom 0

				&:after
					height 0

			&:after
				content ''
				display flex
				justify-content center
				width 81%
				background-color rgba(0, 0, 0, 0.2)
				height 1px
				position absolute
				bottom 0
				left 8.7%

			+breakpoint(tablet)
				justify-content space-between
				padding-left 0.35rem
				margin-top 1rem
				padding-left 5rem
				padding-right 5rem

			&-cards
				display flex
				justify-content center
				width 100%

				&-pagination-left
					display flex
					align-self center
					cursor pointer
					position absolute
					z-index 2
					left 1rem

					& svg
						font-size 52px
						color #61dafb
						border-radius 50%

				&-pagination-right
					display flex
					align-self center
					cursor pointer
					position absolute
					z-index 2
					right 1rem

					& svg
						font-size 52px
						color #61dafb
						border-radius 50%

				+breakpoint(tablet)
					justify-content flex-start

		&-card-list
			grid-area cards
			display flex
			align-content baseline
			flex-wrap wrap
			justify-content space-between

			&[hasfavorite=true]
				margin-top 1.5rem

			+breakpoint(tablet)
				padding-left 0.35rem
				margin-top 1rem
				justify-content flex-start

				&[hasfavorite=true]
					margin-top 1rem

			&-out-of-data
				display grid
				grid-template-areas 'groot'
				grid-template-columns 1fr
				width 100%
				padding-top 1.5rem

				+breakpoint(tablet)
					grid-template-areas 'saddly message groot'
					grid-template-columns 1fr 1fr 1fr

				&-groot-saddly
					grid-area saddly
					display none
					justify-self flex-start

					& img
						border-radius 10px
						max-width 225px
						max-height 400px

					+breakpoint(tablet)
						display flex

				&-message
					grid-area message
					display none
					align-items center
					text-align center
					color rgba(0, 0, 0, 0.3)
					font-size 36px
					font-family ubuntu
					line-height 1.5

					+breakpoint(tablet)
						display flex

				&-groot
					grid-area groot
					display flex
					justify-self center

					& img
						border-radius 10px
						max-height 400px
						max-width 225px

					+breakpoint(tablet)
						justify-self flex-end