.card
	margin-top 3vw
	height auto
	width calc(20% - 1rem)
	min-height 175px
	min-width 43vw
	max-height 260px
	max-width 200px
	background-color #fff
	box-shadow 0 3px 5px 0 rgba(0, 0, 0, 0.3),
			0 3px 5px 1px rgba(97, 218, 251, 0.25),
			inset 0 0.1px 0.5px 0.5px rgba(97, 218, 251, 0.25)
	border-radius 10px

	+breakpoint(mobileM)
		margin-top 5vw

	+breakpoint(tablet)
		min-width 160px
		min-height 200px
		margin-top 1.5rem
		margin-right 1rem

.card-pre-load
	margin-top 5vw
	height auto
	width calc(20% - 1rem)
	min-height 175px
	min-width 43vw
	max-height 260px
	max-width 200px
	box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.15),
					 	 0 1px 5px 1px rgba(191, 212, 214, 0.54)
	border-radius 10px

	+breakpoint(tablet)
		min-width 160px
		min-height 200px
		margin-top 1.5rem
		margin-right 1rem



